* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 0.2em;
  text-decoration: none;
  color: rgb(33, 33, 33);
  font-size: 1.5rem;
  padding: 0.5rem;
}

.header-span {
  font-weight: bold;
  color: rgb(33, 33, 33)
}
.logo {
  height: 2em;
}

.search-icon {
  height: .8rem;
  width: .8rem;
}

.header-search-button {
  background-color: rgb(241, 93, 117);
  border: none;
  border-radius: 50%;
  display: flex;
  padding: 0.5rem;
  color:white;
}
.header-link-container { 
  display: flex;
  align-items: center;
  border: grey solid 0.05rem;
  padding: 1em;
  border-radius: 35px;
  gap: .5em;
  box-shadow: 0 0 10px rgb(157, 157, 157);
}

.border-link {
  border-left:gray solid 0.05rem;
  height: 1.5rem;
}

.user-link-container {
  display: flex;
  align-items: center;
  border: grey solid 0.05rem;
  padding: 1em;
  border-radius: 35px;
  gap: .5em;
}

.hamburger-link, .user-link {
  height: 1.5rem;
  width: 1.5rem;
  color: gray;
}

.user-link {
  color: white;
  background-color: gray;
  border-radius: 50%;
  overflow: hidden;
}
