* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 0.2em;
  text-decoration: none;
  color: rgb(33, 33, 33);
  font-size: 1.5rem;
}

.header-span {
  font-weight: bold;
  color: rgb(33, 33, 33)
}
.logo {
  height: 2em;
}

.search-icon {
  height: .8rem;
  width: .8rem;
}

.header-search-button {
  background-color: rgb(241, 93, 117);
  border: none;
  border-radius: 50%;
  display: flex;
  padding: 0.5rem;
  color:white;
}
.header-link-container { 
  display: flex;
  align-items: center;
  border: grey solid 0.05rem;
  padding: 1em;
  border-radius: 35px;
  gap: .5em;
  box-shadow: 0 0 10px rgb(157, 157, 157);
}

.border-link {
  border-left:gray solid 0.05rem;
  height: 1.5rem;
}

.user-link-container {
  display: flex;
  align-items: center;
  border: grey solid 0.05rem;
  padding: 1em;
  border-radius: 35px;
  gap: .5em;
}

.hamburger-link, .user-link {
  height: 1.5rem;
  width: 1.5rem;
  color: gray;
}

.user-link {
  color: white;
  background-color: gray;
  border-radius: 50%;
  overflow: hidden;
}

.layout-container {
  padding: 1rem;
  margin: 1rem;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.login-title {
  text-align: center;
  font-size: 900;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 50vw;
  padding: .2rem;
} 

.login-form>input {
  border: none;
  width: 50vw;
  height: 2rem;
  border:gray solid .01rem;
  border-radius: 10px;
  padding: .2rem;
  margin: .2rem;
}

.login-form-button {
  background-color:rgb(241, 93, 117);
  width: 50vw;
  border: none;
  color: white;
  padding: .8rem;
  margin: .5rem;
  border-radius: 10px;
}

button:hover { 
  cursor: pointer;
}

.register-container {
  text-align: center;
  padding-top: 1rem;
}

.register-link {
  color: black;
  font-weight: bold;
}

.account-links-container {
  display: flex;
  width: 100%;
  gap: 2em;
  padding: 0.5rem;
  margin-top: 2em;
  align-items: center;
  justify-content: center;
}

.my-profile, .my-bookings, .my-places {
  padding: 0.5rem;
  border-radius: 35px;

}
.my-profile {
  background-color: rgb(241, 93, 117);
  color: white;
}

.my-profile {
  text-align: center;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: .5em;
}

.places-container {
  text-align: center;
  margin-top: 1rem;
}

.places-link-new {
  padding: .8em;
}

.place-form>input {
  min-width: 60%;
  padding: 1em;
  border-radius: 35px;
}

.place-form>button {
  min-width: 63%;
  background-color: rgb(241, 93, 117);
  color: white;
  border-radius: 35px;
  font-size: xx-large;
}